#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

.totalvotecountinfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.totalvotecountinfo h4 {
    margin: 0 0 5px;
    color: #777;
}

.assemblyinfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.assemblyinfo h4 {
    margin: 0 0 5px;
    color: #777;
}

.cuomoinfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.cuomoinfo h4 {
    margin: 0 0 5px;
    color: #777;
}

.nixoninfo {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.nixoninfo h4 {
    margin: 0 0 5px;
    color: #777;
}

.totalvotecountlegend {
    padding: 6px 8px;
    background: white;
    line-height: 25px;
    color: #555;
    border-radius: 5px;
}

.totalvotecountlegend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
