#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

#webpage_info {
  position: absolute;
  z-index: 1000;
  background-color: #cecece;
  opacity: .7;
  top: 550px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 10px;
  float: right;
}

#ed_info {
  position: absolute;
  z-index: 1000;
  /* background-color: #cecece; */
  opacity: .7;
  left: 1000px;
  right: 500px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 10px;
}
